{{/* Amazon Affiliate Product Card using Design System */}}
{{ $asin := .Get "asin" }}
{{ $title := .Get "title" }}
{{ $image := .Get "image" }}
{{ $price := .Get "price" }}
{{ $description := .Get "description" | default .Inner }}

<div class="m3dp-card m3dp-card--affiliate">
  {{ if $image }}
  <div class="m3dp-card__image">
    <img src="{{ $image }}" alt="{{ $title }}" loading="lazy">
  </div>
  {{ end }}

  <div class="m3dp-card__content">
    <h3 class="m3dp-card__title">{{ $title }}</h3>

    {{ if $price }}
    <div class="m3dp-card__price">{{ $price }}</div>
    {{ end }}

    {{ if $description }}
    <div class="m3dp-card__body">{{ $description | markdownify }}</div>
    {{ end }}

    <a href="https://www.amazon.com/dp/{{ $asin }}?tag={{ site.Params.affiliate_tag }}" class="m3dp-btn--amazon"
      target="_blank" rel="nofollow noopener" onclick="trackAffiliateClick('amazon', '{{ $asin }}', '{{ $title }}')">
      View on Amazon
    </a>

    {{ if site.Params.affiliate_disclosure }}
    <p class="m3dp-affiliate-disclosure">
      As an Amazon Associate, we earn from qualifying purchases.
    </p>
    {{ end }}
  </div>
</div>