<div class="container">
    <form method="post" id="myform">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nozzle" class="form-label">Nozzle Dieameter</label>
                <input type="number" value=".4" class="form-control" name="nozzle" id="nozzle" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="m1" class="form-label">Measurement 1</label>
                <input type="number" class="form-control" name="m1" id="m1" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="m2" class="form-label">Measurement 2</label>
                <input type="number" class="form-control" name="m2" id="m2" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="m3" class="form-label">Measurement 3</label>
                <input type="number" class="form-control" name="m3" id="m3" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="m4" class="form-label">Measurement 4</label>
                <input type="number" class="form-control" name="m4" id="m4" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="average" class="form-label">Average Value</label>
                <input type="number" class="form-control" name="average" id="average" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="flow" class="form-label">Flow Rate</label>
                <input type="number" class="form-control" name="flow" id="flow" disabled />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 d-flex align-items-center justify-content-end">
                <label>Copy and Paste Value into Slicer</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 d-flex align-items-center">
                <button class="btn btn-lg px-4" style="background-color:#007bff;border-color:#007bff;color:white;"
                    type="button" onclick="fcRunner()">Calculate</button>
            </div>
        </div>
    </form>
</div>


<script src="/js/flow-calibration.js"></script>
