<div class="container">
    <form id="myform">
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="print_speed" class="form-label">Print Speed</label>
                <input type="number" class="form-control" name="print_speed" id="print_speed" value="100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Based on above Klipper commands, usually 100 or 80.</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="x_rings" class="form-label">Number of X Rings</label>
                <input type="number" class="form-control" name="x_rings" id="x_rings" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Based on X Ring Count</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="x_measure" class="form-label">X Measurement</label>
                <input type="number" class="form-control" name="x_measure" id="x_measure" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Based on Caliper Measurements</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="y_rings" class="form-label">Number of Y Rings</label>
                <input type="number" class="form-control" name="y_rings" id="y_rings" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Based on Y Ring Count</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="y_measure" class="form-label">Y Measurement</label>
                <input type="number" class="form-control" name="y_measure" id="y_measure" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Based on Caliper Measurements</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="x_freq" class="form-label">X Frequency</label>
                <input type="number" disabled class="form-control" name="x_freq" id="x_freq" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Copy and Paste into Printer.cfg</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6">
                <label for="y_freq" class="form-label">Y Frequency</label>
                <input type="number" disabled class="form-control" name="y_freq" id="y_freq" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <label><i>Copy and Paste into Printer.cfg</i></label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-xl-6 d-flex align-items-center">
                <button class="btn btn-lg px-4" style="background-color:#007bff;border-color:#007bff;color:white;"
                    type="button" onclick="isRunner()">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/input-shaping.js"></script>