<form id="rd">
  
    <label for="initial_mark_distance">Initial Mark Distance:</label><br>
    <input type="text" id="initial_mark_distance" name="initial_mark_distance" value="70"><b>*</b><br>
    <br>
    <label for="requested_extrude_distance">Requested Extrude Distance:</label><br>
    <input type="text" id="requested_extrude_distance" name="requested_extrude_distance" value="50"><b>*</b><br>   <br>
    
      <label for="measured_extrude_distance">Measured Extrude Distance:</label><br>
    <input type="text" id="measured_extrude_distance" name="measured_extrude_distance" value="0"><br>   <br>
    
    <label for="previous_rotation_distance">Previous Extruder Rotational Distance:</label><br>
    <input type="text" id="previous_rotation_distance" name="previous_rotation_distance" value="0"><br>   <br>
    
    <b>Extruder Rotation Distance: <input type="text" id="rotational-distance" name="rotational-distance" value="0" disabled></b> <br>
    <br>
    <button type="button" onclick="rdRunner()">
          Calculate
      </button>
  </form> 
  <br />
  
  <b>*</b> Optional Edit
  <br />

  <script src="/js/rotational-distance.js"></script>